# Firebase Project Configuration
FIREBASE_API_KEY=AIzaSyAC_0TAIKxKvRMvYG4XGZjQAc3bLUDEyuM
FIREBASE_AUTH_DOMAIN=edge-ai-attendance-system.firebaseapp.com
FIREBASE_PROJECT_ID=edge-ai-attendance-system
FIREBASE_STORAGE_BUCKET=edge-ai-attendance-system.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=505945196859
FIREBASE_APP_ID=1:505945196859:web:74e67decdb2faf84d2cf1e
FIREBASE_MEASUREMENT_ID=G-88JTDS0VLK

# Edge System Configuration
CAMERA_INDEX=0
SIMILARITY_THRESHOLD=0.45
STABILITY_SECONDS=1.0
